/*General*/

body, h1, body, div, a, ol, ul, li, h2, p, em, img, button {
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

#nav {
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	background-color: white;
	float: left;
	transition-duration: 0.3s;
	opacity: 1;
}

a {
	text-decoration: none;
}

h1 {
	letter-spacing: 4px;
	font-family: 'Work Sans', sans-serif;
}

#headertext a {
	font-family: 'Work Sans', sans-serif;
}

.navig {
	display: inline;
	float: right;
	padding: 20px 30px;
	font-size: 18px;
	margin: 10px;
	transition-duration: 0.2s;
	letter-spacing: 2px;
	color: #ff604e;
	z-index: 99;
}

.navig:hover {
	color: white;
	background-color: #ff604e;
	}

.active {
	border-bottom: 2px solid #ff604e;
}

.navigate {
	display: none;
}

#logo {
	float: left;
	padding: 0px 20px;
	position: fixed;
	margin: 0;
	top: 0px;
	transition-duration: 0.3s;
}

#logo1 {
	height: 80px;
	margin: 0;
}

#logo2 {
	display: none;
	}

.dropdown {
	float: right;
	overflow: hidden;
}

#dropdown-content, #dropdown-content2 {
	display: none;
	background-color: white;
	z-index: 5;
	width: 180px;
	margin-top: 80px;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: 10px;
	border-radius: 0px 0px 10px 10px;
}

#dropdown-content2 {
	width: 20%;
}

#dropdown-content a, #dropdown-content2 a {
	color: #666;
	padding: 15px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 18px;
}



#dropdown-content a:hover {
	background-color: #ddd;
}

#dropdown-content2 a:hover {
	background-color: #ddd;
}

#drop {
	display: none;
}

#expand {
		display: none;
		background-color: #FEFEFE;
		width: 100%; 
		padding-top: 50px;
		z-index: 0;
	}

/*Homepage*/

#header {
	float: left;
	width: 100%;
	padding: 0px;
}

#headerimg {
	background: url('images/center.jpg');
	background-size: 100%;
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	height: 660px;
}

#headertext {
	position: absolute;
	z-index: 40;
	padding-left: 7%;
	padding-right: 3%;
	padding-top: 170px;
	width: 43%;
	transition-duration: 0.6s;
}

#headercontainer {
	background-color: #ff604e;
	opacity: 0.8;
	padding: 120px 0px 540px 70px;
	position: relative;
	z-index: 30;
	width: 55%;
	transition-duration: 0.6s;
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  	clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

#headertext h1 {
	font-size: 78px;
	margin: 0;
	font-weight: 0.9;
}

#headertext b {
	color: white;
}

#headertext strong {
	color: deepskyblue;
}

#headertext a {
	font-size: 30px;
	letter-spacing: 2px;
	padding: 20px 10px 20px 20px;
	text-align: left;
	display: block;
	color: white;
	margin: 30px 0px 10px 0px;
	width: 53%;
	border-radius: 20px;
	background-color: deepskyblue;
	transition-duration: 0.2s;
}

#headertext a b {
	float: right;
}

#headertext a:hover {
	width: 58%;
}


#right, #left {
	position: absolute;
	top: 48%;
	right: 46%;
	font-size: 20px;
	color: white;
	transition-duration: 0.6s;
	z-index: 88;
	opacity: 1;
	margin: 0px 10px;
}

#right {
	transform: rotate(270deg);
}

#right:hover {
	color: #8dd0ff;
	cursor: pointer;
	margin: 0px 0px 0px 20px;
}

#left {
	opacity: 0;
	right: 2%;
	transform: rotate(90deg);
}

#left:hover {
	color: #8dd0ff;
	cursor: pointer;
	margin: 0px 20px 0px 0px;
}

#video {
	position: absolute;
	right: 8%;
	top: 160px;
	opacity: 0;
	transition-duration: 1s;
	height: 400px;
	width: 0;
	border-radius: 10px;
	z-index: 90;
}

@keyframes example {
    0%   {background-color: #ff604e;}
    50%  {background-color: deepskyblue;}
    100% {background:-color: #ff604e;}
}

#quote {
	padding: 10px 0px;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
	float: left;
	position: relative;
	z-index: 99;
	background-color: #ff604e;
	animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 12;
}

#quote p {
	color: white;
	font-size: 22px;
	text-align: center;
}

#research, #service, #community {
	float: left;
	width: 100%;
}

#research {
	text-align: center;
	background-color: white;
	padding: 130px 0px 120px 0px;
	z-index: 88;
	position: relative;
}

#research p {
	font-size: 24px;
	padding: 0% 20%;
	color: #999;
}

#research h1 {
	color: #444;
	font-size: 80px;
	margin-bottom: 30px;
}

#imagegallery {
	margin: auto;
	display: block;
	margin-top: 40px;
	width: 80%;
}

#imagegallery img {
	width: 30%;
	margin: 0% 1.5%;
	padding: 20px 0px;
	display: inline;
	opacity: 0.8;
	transition-duration: 0.2s;
}

#imagegallery img:hover {
	opacity: 1;
	cursor: pointer;
	transform: scale(1.1);
}

#service {
	text-align: center;
	background: url('images/gears.jpg');
	background-size: 100%;
	padding: 250px 0px;
	-webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  	clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
}

#service h1 {
	color: white;
	font-size: 80px;
	margin-bottom: 30px;
}

#service p {
	font-size: 24px;
	padding: 0% 20%;
	color: white;
}

#service a {
	color: lightblue;
}

#community {
	padding: 80px 0px 80px 0px;
	text-align: center;
	background-color: white;
}

#infographic {
	width: 100%;
	margin-top: 75px;
	position: relative;
}

#infocol1, #infocol2 {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	padding: 0;
}

#infocol1 img {
	float: left;
	width: 50%;
	border-radius: 10px;
}

#infotext h1 {
	color: #444;
	font-size: 80px;
	margin: auto;
	display: block;
	text-align: center;
	width: 34%;
	padding: 0% 8%;
	float: left;
	padding-top: 120px;
}

#infotext h3 {
	color: #888;
	font-size: 35px;
	margin: auto;
	display: block;
	text-align: center;
	width: 34%;
	padding: 0% 8%;
	float: left;
}

#infocol2 img {
	float: right;
	width: 50%;
	border-radius: 10px;
}

#plus {
	background-color: gold;
	padding: 60px 90px;
	border-radius: 50%;
	position: absolute;
	right: 41%;
	margin-top: 21%;
	transition-duration: 0.5s;
	font-size: 120px;
	color: white;
	transform: scale(1);
}

#minus {
	background-color: #ff604e;
	padding: 30px 50px;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	right: 5%;
	transition-duration: 0.3s;
	font-size: 60px;
	color: white;
	transform: scale(0);
}

#minus:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#plus:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#united {
	display: none;
}

#united h1 {
	font-size: 70px;
	color: #444;
	padding-top: 20px;
	padding-right: 60px;
}

#united h1 strong {
	color: lightblue;
}

#united img {
	width: 80%;
	margin-top: 40px;
}

#social .fa {
	color: white;
	padding: 40px;
	font-size: 40px;	
	transition-duration: 0.1s;
	text-align: center;
	margin-left: 30%;
	border-radius: 50%;
}

#social {
	width: 100%;
	float: left;
	padding: 50px 0px;
	background: url("images/grey.jpg");
	background-size: 100%;
}

.socialcontainer {
	float: left;
	width: 25%;
	margin: 0;
}

#social .fa:hover {
	box-shadow: 2px 2px 5px #777;
	transform: scale(1.2);
}

#social .fa-facebook {
	padding: 40px 48px;
}

#social .fa-facebook {
	background-color: #3B5998;
}

.fa-linkedin {
  	background-color: #008cc9;
 }

 .fa-instagram {
	background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

 .fa-youtube {
   background: #bb0000;
}

.fa-snapchat {
	background-color: #ffd52d;
}

#footer {
	background-color: #121212;
	padding: 40px 0px 10px 0px;
	width: 100%;
	float: left;
	text-align: center;
}

.foota {
	margin: 10px 40px;
	color: #a9a9a9;
	font-size: 25px;
	transition-duration: 0.2s;
}

.foota:hover {
	color: white;
}

#footer #email {
	margin-top: 70px;
}

#footer #copyright {
	text-align: right;
	float: right;
	margin-right: 20px;
}

#footer p {
	font-size: 20px;
	color: white;
}

#footer p a {
	color: lightblue;
	font-size: 20px;
}

/*Mission*/
#missionhead {
	padding: 0px;
	text-align: center;
}

#missionmask {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #ff604e;
	opacity: 0.7;
	z-index: 5;
	padding: 20px 0px 380px 0px;
}

#missionhead h1 {
	text-align: center;
	font-size: 80px;
	color: white;
	position: absolute;
	top: 0;
	padding-top: 200px;
	z-index: 80;
	margin: 0% 25%;
	width: 50%;
}

#paraimg {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	background: url('images/group.jpg') bottom left;
	background-size: 100%;
	height: 400px;
}

#missionbody {
	padding: 40px 0px 130px 0px;
	margin-top: 400px;
	text-align: center;
	position: relative;
	z-index: 50;
	background-color: white;
}

#missionbody p {
	font-size: 24px;
	color: #777;
	text-align: left;
	padding: 0% 20%;
	line-height: 40px;
	margin-bottom: 80px;
}

#missionbody a {
	padding: 20px 40px;
	margin: 20px 20px;
	background-color: white;
	outline: 0;
	font-size: 26px;
	border-radius: 10px;
	transition-duration: 0.2s;
	position: relative;
}

#donatenow {
	color: #ff604e;
	border: 3px solid #ff604e;
}

#learnmore {
	color: deepskyblue;
	border: 3px solid deepskyblue;
}

#donatenow:hover {
	color: white;
	background-color: #ff604e;
}

#learnmore:hover {
	color: white;
	background-color: deepskyblue;
}

/* Blog */
#bloghead {
	padding: 0px;
	text-align: center;
}

#blogmask {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #ff604e;
	opacity: 0.7;
	z-index: 5;
	padding: 20px 0px 380px 0px;
}

#bloghead h1 {
	text-align: center;
	font-size: 80px;
	color: white;
	position: absolute;
	top: 0;
	padding-top: 200px;
	z-index: 80;
	margin: 0% 25%;
	width: 50%;
}

#paraimg {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	background: url('images/group.jpg') bottom left;
	background-size: 100%;
	height: 400px;
}
#blogtitle{
	padding: 40px 0px 13px 0px;
	margin-top: 400px;
	text-align: center;
	position: relative;
	z-index: 50;
	background-color: white;
}
#blogtitle p{
	font-size: 35px;
	color: #777;
	text-align: left;
	padding: 0% 20%;
	line-height: 40px;
	margin-bottom: 10px;
}
#blogtitle a {
	padding: 10px 10px;
	margin: 10px 10px;
	background-color: white;
	outline: 0;
	font-size: 26px;
	border-radius: 10px;
	transition-duration: 0.2s;
	position: relative;
}
#blogbody {
	padding: 10px 0px 65px 0px;
	margin-top: 4px;
	text-align: center;
	position: relative;
	z-index: 50;
	background-color: white;
}

#blogbody p {
	font-size: 24px;
	color: #777;
	text-align: left;
	padding: 0% 20%;
	line-height: 40px;
	margin-bottom: 80px;
}

#blogbody a {
	padding: 10px 10px;
	margin: 10px 10px;
	background-color: white;
	outline: 0;
	font-size: 26px;
	border-radius: 10px;
	transition-duration: 0.2s;
	position: relative;
}

/* Story */

.storysec {
	float: left;
	width: 100%;
	text-align: center;
}

#storysec1 {
	background-color: #ff604e;
	padding: 220px 0px 40px 0px;
}

#sec1text {
	margin: 0% 10%;
	width: 80%;
}

#sec2text, #sec3text, #sec4text {
	position: absolute;
	padding-top: 120px;
	z-index: 80;
	width: 100%;
}

.carrot {
	color: white;
	font-size: 28px;
	text-align: center;
	margin: 10px 0px;
	transition-duration: 0.2s;
}

.carrot:hover {
	margin: 20px 0px 0px 0px;
	cursor: pointer;
}

#back2top {
	margin: 30px 0px 10px 0px;
	transition-duration: 0.3s;
}

#back2top:hover {
	margin: 20px 0px 20px 0px;
	cursor: pointer;
}

#back2top .carrot {
	margin: 0;
	transform: rotate(180deg);
}

#back2top h2 {
	color: white;

}

#sec1text h1 {
	text-align: center;
	color: white;
	padding-bottom: 80px;
}

#storysec2mask {
	position: relative;
	width: 100%;
	background-color: #eeb64d;
	opacity: 0.9;
	padding: 20px 0px 580px 0px;
}

#storysec3mask {
	position: relative;
	width: 100%;
	background-color: #757f7a;
	opacity: 0.8;
	padding: 20px 0px 640px 0px;
}

#storysec4mask {
	position: relative;
	width: 100%;
	background-color: #7899bb;
	opacity: 0.9;
	padding: 20px 0px 610px 0px;
}

.storysec p a {
	color: #ff604e;
}

#storysec2 {
	background: url('images/2.jpg');
	background-attachment: fixed;
	background-size: 100%;
	padding: 0;
}

#storysec3 {
	background: url('images/hurdles.jpg');
	background-size: 100%;
	background-attachment: fixed;
	padding: 0;
}

#storysec4 {
	background: url('images/smiles.jpg');
	background-size: 100%;
	background-attachment: fixed;
	padding: 0;
}

.storysec h1 {
	color: white;
	font-size: 70px;
	text-align: center;
}

.storysec p {
	color: white;
	font-size: 22px;
	line-height: 35px;
	margin: 0% 20%;
	padding: 40px 0px 80px 0px;
}

#storysec3 p {
	padding-bottom: 100px;
}


/*Our Team */

#teamheader {
	width: 70%;
	float: left;
	padding: 140px 0px 30px 0px;
	background-color: white;
	margin: 0% 15%;
}

#teamtab {
	float: left;
	width: 100%;
}

#teamheader h1 {
	color: #444;
	text-align: center;
	font-size: 60px;
}

#teamheader h3 {
	padding: 0px 15%;
	color: #ff604e;
	font-size: 28px;
	text-align: center;
}

#tab1 {
	text-align: center;
	padding: 13px 0px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

#tab1 li {
	display: inline;
}

#tab1 li a {
	text-align: center;
	color: #888;
	font-size: 25px;
	padding: 0px 40px;
}

#tab1 li a:hover {
	color: #555;
}

.teamsec {
	padding: 70px 0px 70px 0px;
	float: left;
	margin: auto;
	width: 100%;
}

#mentorcontainer, #officercontainer, #membercontainer {
	margin: 0% 7%;
}

.teamborder {
	float: left;
	width: 100%;
	background-color: #bbb;
	height: 1px;
}

.teamsec h1 {
	font-size: 45px;
	color: #555;
	text-align: center;
	padding-bottom: 40px;
}

.teammember {
	position: relative;
	margin: auto;
	float: left;
}

.mentor {
	width: 32%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.mentor h2 {
	font-size: 22px;
}

.mentor h4 {
	font-size: 20px;
}

.teammember img {
	width: 100%;
	border-radius: 10px;
}

.officercol {
	float: left;
	width: 28%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 30px;
}

.officer {
	width: 100%;
	margin-bottom: 40px;
}

.membercol {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.member {
	width: 100%;
	margin-bottom: 30px;
}

.teammember .text {
	position: absolute;
	bottom: 0;
	background-color: #ff604e;
	color: white;
	width: 90%;
	padding: 3% 5%;
	opacity: 0.9;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
}

.textshow {
	display: none;
}

.officer .text h2 {
	padding: 0;
	margin: 0;
	font-size: 24px;
}

.officer .text h4 {
	padding: 0;
	margin: 5px 0px;
	font-size: 20px;
}

.member .text h2 {
	font-size: 22px;
}


/* Contact */

#contacthead {
	padding: 220px 0px 120px 0px;
	text-align: center;
	background-color: #ff604e;
}

#contacthead h1 {
	color: white;
	font-size: 80px;
}

#contactbody {
	text-align: center;
	margin: 0% 10%;
}

#contactbody h2 {
	color: #555;
	font-size: 30px;
	letter-spacing: 1px;
	margin: 20px 0px;
}

#contactbody h4 {
	color: #777;
	font-size: 25px;
	margin: 20px 0px 10px 0px;
}

#contactbody a {
	color: skyblue;
	font-size: 22px;
	transition-duration: 0.2s;
}

#contactbody a:hover {
	color: #ff604e;
}

#contactmain {
	padding: 30px 0px 50px 0px;
}

.contactcol {
	width: 30%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	float: left;
	padding-top: 30px;
	padding-bottom: 100px;
}

/* Donate */

.getinhead {
	padding: 160px 0px 10px 0px;
	text-align: center;
	margin: 0% 20%;
}

.getinborder {
	margin: 0% 10%;
	width: 80%;
	float: left;
	border-bottom: 2px solid #999;
}

.getinhead h1 {
	font-size: 70px;
	color: #555;
}

.getinhead h3 {
	color: #888;
	font-size: 28px;
}

#donatebody {
	margin: 0% 15%;
	padding: 50px 0px 0px 0px;
}

.donatecol {
	width: 50%;
	text-align: center;
	float: left;
	padding-bottom: 100px;
}

.donatecol h2 {
	padding-bottom: 30px;
	font-size: 28px;
	color: #667;
}

#paypal img {
	width: 150px;
	background-color: gold;
	padding: 20px 30px;
	border-radius: 20px;
	transition-duration: 0.2s;
}

#paypal img:hover {
	transform: scale(1.05);
}

#previous p {
	color: #ff604e;
	font-size: 24px;
}

/* Work */

#workhead {
	padding: 0px;
}

#workimg {
	width: 100%;
	background: url("images/headerimg.jpg");
	background-size: 100%;
	height: 420px;
	z-index: 20;
	position: absolute;
	top: 0;
}

#workhead h1 {
	font-size: 80px;
	text-align: center;
	padding-top: 200px;
	position: absolute;
	z-index: 80;
	color: white;
	margin: 0% 25%;
	width: 50%;
}

#workmask {
	position: relative;
	width: 100%;
	background-color: #ff604e;
	z-index: 40;
	opacity: 0.7;
	padding: 20px 0px 400px 0px;
}

#workbody {
	width: 94%;
	padding: 80px 0px;
	padding-left: 3%;
	padding-right: 3%;
	position: relative;
	background-color: white;
	z-index: 40;
}

.workcol {
	width: 54%;
	padding: 0% 1.5%;
	float: left;
	padding-bottom: 100px;
}

#workcol1 {
	width: 39%;
	padding-right: 2.5%;
	padding-left: 1.5%;
	margin-top: 70px;
}

#workcol2 {
	width: 39%;
	padding-left: 2.5%;
	padding-right: 1.5%;
}

#workcol3 {
		display: none;
	}

.workcol h1 {
	font-size: 42px;
	padding: 10px 0px 20px 0px;
	color: #555;
}

.workcol p {
	color: #888;
	font-size: 22px;
}

.mySlides p, .mySlides2 p {
	color: white;
}

.workcol img {
	width: 100%;
}

#aboutimagegallery, #aboutimagegallery2 {
	position: relative;
	background-color: white;
}

.mySlides img, .mySlides2 img {
	width: 100%;
	overflow: hidden;
}

.caption {
	position: absolute;
	bottom: 0;
	color: white;
	background-color: #ff604e;
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
}

.mySlides, .mySlides2 {
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
	display: none;
}

.carouselbutton {
	background-color: transparent;
	color: white;
	font-size: 30px;
	outline: 0;
	border: 0;
	bottom: 49%;
	position: absolute;
	transition-duration: 0.3s;
}

.carouselbutton:hover {
	opacity: 0.8;
	cursor: pointer;
}

#buttonright, #buttonright2 {
	right: 2%;
	transition-duration: 0.3s;
}

#buttonright:hover {
	right: 1.5%;
}

#buttonright2:hover {
	right: 1.5%;
}

#buttonleft, #buttonleft2 {
	left: 2%;
	transition-duration: 0.3s;
}

#buttonleft:hover {
	left: 1.5%;
}

#buttonleft2:hover {
	left: 1.5%;
}

.fade, .fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/* Volunteer */

#volbody {
	width: 70%;
	margin: 0% 15%;
	text-align: center;
	padding-bottom: 80px;
}

#volbody h3 {
	font-size: 28px;
	color: #555;
	padding-top: 20px;
}

#volbody h4 {
	font-size: 23px;
	color: #888;
	margin: 5px 0px;
}

#volbody a {
	color: #ff604e;
}

/* Resources */

#resbody {
	padding: 50px 0px 0px 0px;
	margin: 0% 15%;
}

.rescol {
	padding-bottom: 100px;
	float: left;
	width: 70%;
	margin: 0% 15%;
}

.rescol h2 {
	font-size: 35px;
	color: #555;
	padding-bottom: 10px;
	text-align: center;
}

.rescol ul {
	padding-left: 50px;
	padding-bottom: 50px;
}

.rescol a {
	display: block;
	margin: 20px 10px;
	color: #ff604e;
	font-size: 22px;
	text-decoration: underline;
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

/* Queries */
@media only screen and (max-width: 1100px) {
	.navig {
		padding: 17px 17px 15px 17px;
		font-size: 15px;
		margin: 5px 10px;
	}

	#logo1 {
		height: 60px;
	}

	#dropdown-content, #dropdown-content2 {
		margin-top: 60px;
	}

	#dropdown-content a, #dropdown-content2 a {
		font-size: 15px;
	}

	#headercontainer {
		width: 100%;
		padding: 60px 0px 750px 0px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	#right, #left {
		display: none;
	}

	#video {
		margin: auto;
		width: 80%;
		right: 10%;
		opacity: 1;
		display: block;
		position: absolute;
		top: 380px;
	}

	#headertext {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 120px;
		text-align: center;
	}

	#headertext h1 {
		font-size: 60px;
	}

	#headertext a {
		font-size: 28px;
		margin: auto;
		margin-top: 20px;
		width: 45%;
	}

	#headerimg {
		background-size: 200%;
		height: 780px;
	}

	#headertext a:hover {
		width: 45%;
		opacity: 0.9;
	}

	#infotext h1 {
		padding-top: 80px;
		font-size: 60px;
	}

	#infotext h3 {
		font-size: 30px;
	}

	#plus {
		padding: 40px 60px;
		right: 41%;
		margin-top: 25%;
		transition-duration: 0.3s;
		font-size: 80px;
		color: white;
	}

	#united h1 {
		font-size: 50px;
	}

	#minus {
		padding: 20px 30px;
		right: 5%;
		font-size: 40px;
	}

	#research h1, #service h1 {
		font-size: 55px;
	}

	#research {
		padding: 150px 0px;
	}

	#service {
		padding: 190px 0px;
	}

	#research p, #service p {
		font-size: 18px;
		padding: 0% 10%;
	}

	#community {
		padding: 20px 0px 50px 0px;
	}

	#infographic {
		margin-top: 40px;
	}

	.foota {
		margin: 10px 20px;
		color: #a9a9a9;
		font-size: 18px;
		transition-duration: 0.2s;
	}

	#social .fa {
		padding: 30px;
		font-size: 30px;
		margin-left: 25%;
	}

	#social .fa-facebook {
		padding: 30px 36px;
	}

	.storysec h1 {
		font-size: 55px;
	}

	.storysec p {
		font-size: 20px;
	}

	#missionhead h1 {
		font-size: 60px;
	}

	#missionbody p {
		font-size: 20px;
	}

	#missionbody a {
		font-size: 22px;
		padding: 16px 30px;
	}

	#teamheader h3 {
		font-size: 24px;
	}

	#tab1 li a {
		font-size: 22px;
		padding: 0px 30px;
	}

	.mentor {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 30px;
	}

	.officercol {
		width: 30%;
		margin-left: 1.5%;
		margin-right: 1.5%;
		margin-bottom: 0px;
	}

	.workcol {
		width: 80%;
		padding: 0% 10%;
		float: left;
		margin: 40px 0px 60px 0px;
	}

	#workcol2 {
		display: none;
	}

	#workcol3 {
		display: block;
	}

	#workcol1, #workcol3 {
		width: 70%;
		padding: 0% 15%;
		margin: 0px 0px 40px 0px;
	}

	#workbody {
		padding: 60px 0px;
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
	}

	#contacthead {
		padding: 200px 0px 80px 0px;
	}

	#contacthead h1 {
		font-size: 60px;
	}

	#contactbody {
		text-align: center;
		margin: 0% 4%;
	}

	#contactbody h2 {
		font-size: 30px;
	}

	#contactbody h4 {
		font-size: 22px;
	}

	#contactbody a {
		font-size: 19px;
	}

	.getinhead {
		padding: 140px 0px 10px 0px;
		text-align: center;
		margin: 0% 15%;
	}

	.getinhead h1 {
		font-size: 55px;
	}

	.getinhead h3 {
		font-size: 24px;
	}

	#storysec4mask {
		padding: 20px 0px 680px 0px;
	}

}


@media only screen and (max-width: 768px) {

	.navig {
		display: none;
	}

	.container1 {
	    float: right;
	    display: block;
	    cursor: pointer;
	    margin: 6px 10px 8px 0px;
	}

	.bar1, .bar2, .bar3 {
	    width: 30px;
	    height: 3px;
	    background-color: #ff604e;
	    margin: 8px 0;
	    transition: 0.2s;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-405deg) translate(-10px, 7px);
	    transform: rotate(-405deg) translate(-10px, 7px);
	}

	.change .bar2 {width: 0;}

	.change .bar3 {
	    -webkit-transform: rotate(405deg) translate(-9px, -4px);
	    transform: rotate(405deg) translate(-9px, -4px);
	}

	.navigate {
		color: #ff604e;
		text-align: left;
		float: left;
		width: 100%;
		display: block;
		font-size: 16px;
		padding: 20px 20px;
	}

	h1 {
		letter-spacing: 2px;
	}

	.navigate:hover {
		background-color: #ddd;
	}

	#dropdown-content3, #dropdown-content4 {
		width: 100%;
		display: none;
	}

	#dropdown-content3 a, #dropdown-content4 a {
		padding: 18px 30px;
		font-size: 14px;
		color: #555;
		background-color: #cdcdcd;
		width: 100%;
		float: left;
	}

	#dropdown-content3 a:hover, #dropdown-content4 a:hover {
		background-color: #999;
		color: white;
	}

	#expand {
		padding-top: 0px;
		height: 700px;
		background-color: white;
		float: right;
		opacity: 0.95;
	}

	#logo2 {
		position: absolute;
		top: 0;
		left: 10px;
	}

	#logo1 {
		display: none;
	}

	#logo2 {
		display: block;
		height: 50px;
	}

	#expand li {
		list-style-type: none;
	}

	#header {
		background-size: 300%;
	}

	#headertext {
		padding-top: 90px;
	}

	#headertext h1 {
		font-size: 37px;
	}

	#headertext a {
		font-size: 22px;
		padding: 15px 8px 15px 12px;
		width: 80%;
	}

	#headertext a:hover {
		width: 80%;
	}

	#headercontainer {
		padding: 60px 0px 550px 0px;
	}

	#video {
		height: 250px;
		top: 340px;
	}

	#research h1, #service h1 {
		font-size: 35px;
	}

	#united h1 {
	 	font-size: 38px;
	 }

	#research {
		padding: 100px 0px;
	}

	#service {
		background-size: 400%;
		padding: 140px 0px;
	}

	#research p, #service p {
		font-size: 16px;
		padding: 0% 7%;
	}

	#imagegallery img {
		width: 100%;
	}

	#infotext h1 {
		padding: 0%;
		padding-top: 40px;
		margin-bottom: 15px;
		font-size: 38px;
		width: 100%;
	}

	#infotext h3 {
		padding: 0% 10%;
		font-size: 25px;
		width: 80%;

	}

	#infocol1 img, #infocol2 img {
		width: 100%;
		margin-top: 30px;
	}

	#plus {
		padding: 20px 28px;
		right: 3%;
		top: 0;
		margin-top: 0;
		font-size: 40px;
	}

	#minus {
		padding: 15px 24px;
		right: 5%;
		font-size: 30px;
	}

	#united h1 {
		padding: 0;
		margin-right: 20%;
		margin-left: 5%;
	}

	.donatecol {
		width: 100%;
	}

	#social {
		padding: 30px 0px 10px 0px;
	}

	#social .fa {
		margin-left: 25%;
	}

	.socialcontainer {
		width: 50%;
		margin-bottom: 40px;
	}

	.foota {
		margin: 20px 20px;
	}

	#footer #email {
		margin: 0% 10%;
		font-size: 18px;
		margin-top: 40px;
	}

	.storysec p {
		font-size: 15px;
		margin: 0% 6%;
		line-height: 25px;
		padding: 20px 0px 40px 0px;
	}

	.storysec h1 {
		font-size: 34px;
		margin: 0% 10%;
	}

	.carrot {
		font-size: 25px;
	}

	#storysec1 {
		padding: 140px 0px 20px 0px;
	}

	#storysec1 h1 {
		font-size: 44px;
		padding-bottom: 10px;
	}

	#storysec3 p {
		padding-bottom: 30px;
	}

	#sec2text, #sec3text, #sec4text {
		padding-top: 60px;
	}

	#back2top h2 {
		font-size: 20px;
	}

	#storysec2mask {
		padding: 20px 0px 580px 0px;
	}

	#storysec3mask {
		padding: 20px 0px 560px 0px;
	}

	#storysec4mask {
		padding: 20px 0px 580px 0px;
	}

	#missionhead h1 {
		font-size: 44px;
		margin: 0% 10%;
		width: 80%;
		padding-top: 160px;
	}

	#missionbody {
		padding: 20px 0px 60px 0px;
		margin-top: 300px;
	}

	#missionbody p {
		font-size: 16px;
		line-height: 28px;
		padding: 0% 10%;
		margin-bottom: 30px;
	}

	#paraimg {
		height: 300px;
	}

	#missionmask {
		padding-bottom: 290px;
	}

	#missionbody a {
		font-size: 18px;
		padding: 15px 24px;
		display: block;
		width: 50%;
		margin: auto;
		margin-bottom: 20px;
	}

	#teamheader {
		width: 90%;
		margin: 0% 5%;
		padding-top: 110px;
	}

	#teamheader h1 {
		font-size: 36px;
	}

	#teamheader h3 {
		font-size: 18px;
		padding: 0% 10%;
	}

	#tab1 li a {
		font-size: 18px;
		padding: 0px 10px;
	}

	.mentor {
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 30px;
	}

	.teamsec {
		padding: 40px 0px 50px 0px;
	}

	.mentor h2 {
	font-size: 18px;
	}

	.mentor h4 {
		font-size: 15px;
	}

	.officercol {
		width: 88%;
		margin-left: 6%;
		margin-right: 6%;
	}

	.membercol {
		width: 47%;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	#members {
		background-color: white;
		z-index: 50;
	}

	.officer .text h2 {
		font-size: 20px;
	}

	.officer .text h4 {
		font-size: 17px;
	}

	.member .text h2 {
		font-size: 15px;
	}

	#workbody {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.workcol h1 {
		font-size: 26px;
		text-align: center;
	}

	.workcol p {
		font-size: 15px;
		line-height: 26px;
	}

	.workcol {
		width: 98%;
		padding: 0% 1%;
		float: left;
		margin: 20px 0px 40px 0px;
	}

	#workcol1, #workcol3 {
		width: 90%;
		padding: 0% 5%;
		margin: 0px;
	}

	#workhead h1 {
		margin: 0% 5%;
		width: 90%;
		font-size: 45px;
		padding-top: 120px;
		text-align: center;
	}

	#workmask {
		padding-bottom: 200px;
	}

	#workimg {
		height: 220px;
	}

	.mySlides p, .mySlides2 p {
		font-size: 14px;
	}

	.contactcol {
		width: 94%;
		margin: 0% 3%;
		padding-bottom: 40px;
	}

	#contacthead {
		padding: 140px 0px 80px 0px;
	}

	#contacthead h1 {
		font-size: 40px;
	}

	#contactbody h2 {
		font-size: 24px;
	}

	#contactbody a {
		font-size: 15px;
	}

	#lastcol {
		padding-bottom: 60px;
		border-bottom: 0;
	}

	.getinhead {
		margin: 0% 8%;
		padding-top: 100px;
	}

	.getinhead h1 {
		font-size: 37px;
	}

	.getinhead h3 {
		font-size: 20px;
	}

	.donatecol {
		padding-bottom: 60px;
	}

	.donatecol h2 {
		font-size: 24px;
	}

	#previous p {
		font-size: 20px;
	}

	#volbody h3 {
		font-size: 24px;
		color: #555;
		padding-top: 20px;
	}

	#volbody h4 {
		font-size: 20px;
		color: #888;
		margin: 5px 0px;
	}

	#resbody {
		margin: 0% 10%;
	}

	.rescol {
		padding-bottom: 50px;
		width: 100%;
		margin: 0;
	}

	.rescol h2 {
		font-size: 24px;
	}

	.rescol ul {
		text-align: center;
		padding: 0;
		margin: 0;
		float: none;
	}

	.rescol li {
		list-style: none;
	}

	.rescol a {
		font-size: 18px;
	}

	#quote p {
		font-size: 15px;
	}

}



